/* Container for the entire form */
.container {
  background-image: url('/loginbg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  }
  
  /* Centering the logo */
  .logo {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Logo image styling */
  .logo img {
    width: 100px;
    height: auto;
  }
  
  /* Form container to handle the width correctly */
  .form-container {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Additional form styling */
  .ant-form-item {
    margin-bottom: 16px;
  }
  
  .ant-btn-primary {
    background-color: #228B22;
    border-color: #228B22;
  }
  
  .ant-btn-primary:hover {
    background-color: #196F14;
    border-color: #196F14;
  }
  
  .ant-btn-primary:focus {
    background-color: #196F14;
    border-color: #196F14;
  }
  